h2{
    margin: 20px;
}

.emptyDiv{
    margin-top: 50px;
    padding: 0 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: grey;
}
.orderSummary{
    background-color: #f2f2f2;
   
    padding: 10px 20px;
    border-radius: 8px;
}

.cartRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price{
  font-weight:bold;
}

.description{
    color: grey;
}
.productImg{
    width:  20px;
    background-color: aqua;
}

.iconsDiv{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 10%;
  
}
.countDiv{
    display: flex;
    align-items: center;
    border: 1px solid #d9d4d4;
    border-radius: 5px;
}

.clear{
   width: 100%;
   display: flex;
   justify-content: center;
}

.summaryRow{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 10px;
}

.textFieldRow{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 10px;
}

.textField{
    background-color:#fff;
    width:80%;
    /* border-radius:10px; */
 
}

.formButton{
   padding:28px;
}

.row{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.emptyDiv{
    margin-top: 50px;
    padding: 0 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: grey;
    
}
